<div id="categories" style="display:none">
    <a class="category selected" id="all">all</a>&emsp;
    <a class="category" id="code">code</a>&emsp;
    <a class="category" id="writing">writing</a>&emsp;
    <a class="category" id="art">art</a>&emsp;
</div>

{{#projects}}
    <div class="big-card-container" id={{index}} onload="fadeIn(this)">
        <a href={{hash}}>
            <div class="big-card"> 
                <img src={{images.0}} alt={{image_alt}} class="big-card-image">
                <div class="big-card-words">
                    <div class="big-card-title"> {{title}} </div>
                    <div class="big-card-description"> {{{big-card-description}}} </div>
                </div>
            </div>
        </a>
    </div>
{{/projects}}
